/* Table of Content
==================================================
#BASIC TYPOGRAPHY
#HEADER SECTION
#NAVBAR SECTION
#SLIDER SECTION
#CONTACT SECTION
#MAP SECTION
#FOOTER SECTION
#RESPONSIVE DESIGN
#ABOUT US SECTION
#GROUP
#SOFTWARE
#RESEARCH
#PUBLICATION



*/
/* BASE - Base tyles, Variables, Mixins, etc. */

body {
    background-color: #ffffff;
    font-family: "Prata", serif;
    color: #333333;
    font-size: 15px;
    overflow-x: hidden;
  }
  
  .no-padding {
    padding: 0;
  }
  
  /* MODULES - Individual site components */
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: #333333;
  }
  
  a:hover,
  a:focus {
    outline: none;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", sans-serif;
  }
  
  h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    margin: 0;
  }
  
  img {
    border: none;
  }
  
  .mu-readmore-btn {
    background-color: #fff;
    font-family: "Open Sans", sans-serif;
    display: inline-block;
    font-size: 16px;
    padding: 15px 35px;
    position: relative;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  .mu-readmore-btn::after {
    bottom: 5px;
    content: "";
    left: 5px;
    position: absolute;
    right: 5px;
    top: 5px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
  }
  .mu-readmore-btn:hover, .mu-readmore-btn:focus {
    color: #fff;
  }
  .mu-readmore-btn:hover::after, .mu-readmore-btn:focus::after {
    bottom: 0px;
    content: "";
    left: 0px;
    right: 0px;
    top: 0px;
  }
  
  .mu-browsmore-btn {
    background-color: #fff;
    border: 1px solid #ccc;
    display: inline-block;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.5px;
    padding: 12px 25px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  .mu-browsmore-btn:hover, .mu-browsmore-btn:focus {
    color: #fff;
  }
  
  .mu-send-btn {
    background-color: transparent;
    border: 1px solid #ccc;
    display: inline-block;
    font-size: 16px;
    padding: 10px 18px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  .mu-send-btn:hover, .mu-send-btn:focus {
    color: #fff;
  }
  
  /* LAYOUTS - Page layout styles */
  /*==================
   HEADER SECTION
  ====================*/
  #mu-header {
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    z-index: 999;
  }
  
  /*==================
   NAVBAR SECTION
  ====================*/
  .mu-main-navbar {
    background-color: transparent;
    border: none;
    padding: 25px 0;
    border-radius: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  .mu-main-navbar .mu-main-nav {
    font-family: "Open Sans", sans-serif;
  }
  .mu-main-navbar .mu-main-nav li a {
    color: #fff;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  .mu-main-navbar .mu-main-nav .dropdown-menu {
    background-color: #333;
    border-radius: 0;
  }
  .mu-main-navbar .mu-main-nav .dropdown-menu li a {
    padding: 10px 20px;
  }
  .mu-main-navbar .navbar-header .navbar-brand {
    padding: 0;
    margin-top: 8px;
    height: 34px;
    width: 145px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  .mu-main-navbar .navbar-header .navbar-brand img {
    width: 100%;
    height: 100%;
  }
  .mu-main-navbar .navbar-header .navbar-brand-small {
    height: 20px;
    margin-top: 16px;
    width: 105px;
  }
  
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
  }
  
  .navbar-bg {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
  }
  
  /* ALL SECTION */
  
  /*scrol to top*/
  .scrollToTop {
    bottom: 60px;
    color: #fff;
    display: none;
    font-size: 17px;
    line-height: 22px;
    font-family: "Open Sans", sans-serif;
    padding: 5px 0;
    position: fixed;
    right: 20px;
    text-align: center;
    text-decoration: none;
    width: 55px;
    z-index: 999;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .scrollToTop i {
    display: block;
  }
  .scrollToTop span {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
  }
  
  .scrollToTop:hover,
  .scrollToTop:focus {
    color: #fff;
  }
    
  .mu-preloader {
    position: relative;
    top: 45%;
  }
  


/*==================
        SLIDER SECTION
====================*/
#mu-slider {
    display: inline;
    float: left;
    width: 100%;
    position: relative;
  }
  #mu-slider .mu-slider-area {
    display: inline;
    float: left;
    width: 100%;
  }
  #mu-slider .mu-slider-area .mu-top-slider {
    display: inline;
    float: left;
    width: 100%;
  }
  #mu-slider .mu-slider-area .mu-top-slider .mu-top-slider-single {
    display: inline;
    float: left;
    position: relative;
    width: 100%;
  }
  #mu-slider .mu-slider-area .mu-top-slider .mu-top-slider-single:after {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
  }
  #mu-slider .mu-slider-area .mu-top-slider .mu-top-slider-single img {
    width: 100%;
  }
  #mu-slider .mu-slider-area .mu-top-slider .mu-top-slider-single .mu-top-slider-content {
    position: absolute;
    left: 15%;
    top: 33%;
    right: 15%;
    text-align: center;
    z-index: 99;
  }
  #mu-slider .mu-slider-area .mu-top-slider .mu-top-slider-single .mu-top-slider-content .mu-slider-small-title {
    font-family: "Goudy Bookletter 1911", cursive;
    font-size: 100px;
    font-weight: 400;
    line-height: 40px;
  }
  #mu-slider .mu-slider-area .mu-top-slider .mu-top-slider-single .mu-top-slider-content .mu-slider-title {
    color: #fff;
    font-size: 70px;
    line-height: 90px;
  }
  #mu-slider .mu-slider-area .mu-top-slider .mu-top-slider-single .mu-top-slider-content p {
    color: #fff;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 10px;
    padding: 0 30px;
  }
  #mu-slider .mu-slider-area .mu-top-slider .slick-prev::before {
    content: "\f177";
    font-family: fontAwesome;
  }
  #mu-slider .mu-slider-area .mu-top-slider .slick-next::before {
    content: "\f178";
    font-family: fontAwesome;
  }
  #mu-slider .mu-slider-area .mu-top-slider .slick-prev,
  #mu-slider .mu-slider-area .mu-top-slider .slick-next {
    background-color: transparent;
    border: 2px solid #888;
    height: 60px;
    top: 50%;
    width: 70px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  #mu-slider .mu-slider-area .mu-top-slider .slick-prev::before,
  #mu-slider .mu-slider-area .mu-top-slider .slick-next::before {
    color: #888;
  }
  #mu-slider .mu-slider-area .mu-top-slider .slick-prev:hover, #mu-slider .mu-slider-area .mu-top-slider .slick-prev:focus,
  #mu-slider .mu-slider-area .mu-top-slider .slick-next:hover,
  #mu-slider .mu-slider-area .mu-top-slider .slick-next:focus {
    color: #fff;
  }
  #mu-slider .mu-slider-area .mu-top-slider .slick-prev:hover::before, #mu-slider .mu-slider-area .mu-top-slider .slick-prev:focus::before,
  #mu-slider .mu-slider-area .mu-top-slider .slick-next:hover::before,
  #mu-slider .mu-slider-area .mu-top-slider .slick-next:focus::before {
    color: #fff;
  }
  #mu-slider .mu-slider-area .mu-top-slider .slick-prev {
    left: 20px;
  }
  #mu-slider .mu-slider-area .mu-top-slider .slick-next {
    right: 20px;
  }
  
  
  /*==================
 CONTACT SECTION
====================*/
#mu-contact {
    display: inline;
    float: left;
    padding: 100px 0;
    width: 100%;
  }
  #mu-contact .mu-contact-area {
    display: inline;
    float: left;
    width: 100%;
  }
  #mu-contact .mu-contact-area .mu-contact-content {
    display: inline;
    float: left;
    margin-top: 30px;
    width: 100%;
  }
  #mu-contact .mu-contact-area .mu-contact-content .mu-contact-left {
    display: inline;
    float: left;
    font-family: "Open Sans", sans-serif;
    width: 100%;
  }
  #mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .form-group {
    margin-bottom: 25px;
  }
  #mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .form-group label {
    font-size: 16px;
    margin-bottom: 8px;
    letter-spacing: 0.5px;
  }
  #mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .mu-contact-form input[type="text"],
  #mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .mu-contact-form input[type="email"] {
    color: #000;
    border-radius: 0;
    height: 40px;
  }
  #mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .mu-contact-form input[type="text"]:focus,
  #mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .mu-contact-form input[type="email"]:focus {
    box-shadow: none;
  }
  #mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .mu-contact-form textarea {
    color: #000;
    border-radius: 0;
    padding: 10px;
  }
  #mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .mu-contact-form textarea:focus {
    box-shadow: none;
  }
  #mu-contact .mu-contact-area .mu-contact-content .mu-contact-right {
    display: inline;
    float: left;
    padding: 0 30px;
    width: 100%;
  }
  #mu-contact .mu-contact-area .mu-contact-content .mu-contact-right .mu-contact-widget {
    display: inline;
    float: left;
    margin-bottom: 25px;
    width: 100%;
  }
  #mu-contact .mu-contact-area .mu-contact-content .mu-contact-right .mu-contact-widget h3 {
    margin-top: 0px;
  }
  #mu-contact .mu-contact-area .mu-contact-content .mu-contact-right .mu-contact-widget > p {
    letter-spacing: 0.5px;
    line-height: 26px;
  }
  #mu-contact .mu-contact-area .mu-contact-content .mu-contact-right .mu-contact-widget address {
    margin-top: 20px;
  }
  #mu-contact .mu-contact-area .mu-contact-content .mu-contact-right .mu-contact-widget address p {
    letter-spacing: 0.5px;
  }
  #mu-contact .mu-contact-area .mu-contact-content .mu-contact-right .mu-contact-widget address p i {
    margin-right: 10px;
    width: 20px;
    text-align: center;
  }
  #mu-contact .mu-contact-area .mu-contact-content .mu-contact-right .mu-contact-widget address p span {
    display: inline-block;
    margin-right: 20px;
    min-width: 130px;
  }
  
  /*==================
   MAP SECTION
  ====================*/
  #mu-map {
    display: inline;
    float: left;
    height: 450px;
    width: 100%;
  }
  #mu-map iframe {
    width: 100%;
    height: 100%;
  }


  /*==================
 FOOTER SECTION
====================*/
#mu-footer {
    background-color: rgba(37, 59, 61, 1.0);
    display: inline;
    float: left;
    padding: 50px 0;
    width: 100%;
  }
  #mu-footer .mu-footer-area {
    display: inline;
    float: left;
    width: 100%;
    text-align: center;
  }
  #mu-footer .mu-footer-area .mu-footer-social {
    display: inline;
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  #mu-footer .mu-footer-area .mu-footer-social a {
    background-color: #555;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    height: 40px;
    line-height: 32px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    width: 50px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  #mu-footer .mu-footer-area {
    display: inline;
    float: left;
    width: 100%;
  }
  #mu-footer .mu-footer-area p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #fff;
  }
  #mu-footer .mu-footer-area p a {
    color: #fff;
  }
  
  /*==================
 RESPONSIVE DESIGN
====================*/
@media (max-width: 2000px) {
  #mu-gallery .gallery-card{
    padding-left: 50px;
  }
  #mu-gallery .gallery-card .card-image img{
    float: center;
    width: 100%;
    height: auto;
  }
}

@media (max-width: 1199px) {
    .mu-main-navbar .mu-main-nav li a {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    #mu-slider .mu-slider-area .mu-top-slider .mu-top-slider-single img {
      width: 100%;
      height: auto;
    }

    #mu-gallery .gallery-card{
      padding-left: 50px;
      width: 100%;
      height: auto;
    }
    #mu-gallery .gallery-card .card-image img{
      float: center;
      width: 1000px;
      height: auto;
    }
}

@media (max-width: 991px) {
    .mu-main-navbar .mu-main-nav li a {
      padding-left: 5px;
      padding-right: 5px;
      font-size: 14px;
    }
  
    .mu-main-navbar .navbar-header .navbar-brand {
      height: 30px;
      width: 115px;
    }
  
    .mu-main-navbar .navbar-header .navbar-brand-small {
      height: 25px;
      margin-top: 13px;
      width: 110px;
    }

    #mu-slider .mu-slider-area .mu-top-slider .mu-top-slider-single img {
      width: 100%;
      height: auto;
    }
  
    .mu-abtus-slider .slick-slide img {
      display: block;
      width: 100%;
    }

    #mu-contact .mu-contact-area .mu-contact-content .mu-contact-right {
        margin-top: 50px;
        padding: 0;
      }

    

    #mu-gallery .gallery-card{
      padding-left: 50px;
      width: 100%;
      height: auto;
    }
    #mu-gallery .gallery-card .card-image img{
      float: center;
      width: 700px;
      height: auto;
    }

}

@media (max-width: 767px) {
    .navbar-default .navbar-toggle {
      border-color: #fff;
      border-radius: 0px;
    }
  
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #fff;
    }
  
    .mu-main-navbar .mu-main-nav {
      background-color: rgba(0, 0, 0, 0.8);
      text-align: center;
    }

    #mu-slider .mu-slider-area .mu-top-slider .mu-top-slider-single img {
      width: 100%;
      height: auto;
    }
  
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      background-color: #fff;
    }

    #mu-gallery .gallery-card{
      padding-left: 50px;
      width: 100%;
      height: auto;
    }
    #mu-gallery .gallery-card .card-image img{
      float: center;
      width: 550px;
      height: auto;
    }
}

@media (max-width: 640px) {
    .navbar-default .navbar-toggle {
      border-color: #fff;
      border-radius: 0px;
    }
  
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #fff;
    }
  
    #mu-slider .mu-slider-area .mu-top-slider .mu-top-slider-single .mu-top-slider-content .mu-slider-title {
      font-size: 50px;
      line-height: 75px;
    }

    #mu-slider .mu-slider-area .mu-top-slider .mu-top-slider-single img {
      width: 100%;
      height: auto;
    }
  
    .mu-main-navbar .mu-main-nav {
      background-color: rgba(0, 0, 0, 0.8);
      text-align: center;
    }
  
    .mu-main-navbar .mu-main-nav li a {
      font-size: 18px;
    }

    #mu-gallery .gallery-card{
      padding-left: 50px;
      width: 100%;
      height: auto;
    }
    #mu-gallery .gallery-card .card-image img{
      float: center;
      width: 500px;
      height: auto;
    }
}

@media (max-width: 480px) {
    #mu-slider .mu-slider-area .mu-top-slider .mu-top-slider-single .mu-top-slider-content {
      left: 5%;
      right: 5%;
      top: 15%;
    }

    #mu-slider .mu-slider-area .mu-top-slider .mu-top-slider-single img {
      width: 100%;
      height: auto;
      }
    
      #mu-slider .mu-slider-area .mu-top-slider .mu-top-slider-single .mu-top-slider-content {
        display: none;
      }
    
      #mu-slider .mu-slider-area .mu-top-slider .slick-prev, #mu-slider .mu-slider-area .mu-top-slider .slick-next {
        opacity: 0;
      }

      #mu-map {
        height: 350px;
      }

      #mu-about-us {
        padding: 100px 0 50px;
      }

      #mu-grp-present-us {
        padding: 100px 0 50px;
      }

      .mu-title h2 {
        font-size: 28px;
      }

      #mu-contact .mu-contact-area .mu-contact-content .mu-contact-right {
        text-align: center;
      }
    
      #mu-contact .mu-contact-area .mu-contact-content .mu-contact-right .mu-contact-widget address {
        text-align: left;
      }
    
      #mu-contact {
        padding: 100px 0 50px;
      }

      #mu-footer .mu-footer-area .mu-footer-social a {
        font-size: 18px;
        margin: 5px;
        padding: 5px;
        width: 40px;
      }
    
      .media-left, .media > .pull-left {
        padding-right: 0;
      }

      #mu-map {
        height: 250px;
      }

      #mu-gallery .gallery-card{
        padding-left: 50px;
        width: 100%;
        height: auto;
      }
      #mu-gallery .gallery-card .card-image img{
        float: center;
        width: 90%;
        height: auto;
      }
    }

    
/*==================
	ABOUT US SECTION
====================*/
#mu-about-us {
    display: inline;
    float: left;
    width: 100%;
    padding: 100px 0;
  }
  #mu-about-us .mu-about-us-area {
    display: inline;
    float: left;
    width: 100%;
  }
  #mu-about-us .mu-about-us-area .mu-about-us-left {
    display: inline;
    float: left;
    margin-top: 20px;
    padding-top: 30px;
    width: 100%;
  }
  #mu-about-us .mu-about-us-area .mu-about-us-left p {
    line-height: 24px;
  }
  #mu-about-us .mu-about-us-area .mu-about-us-left ul {
    margin-bottom: 20px;
    padding-left: 20px;
  }
  #mu-about-us .mu-about-us-area .mu-about-us-left ul li {
    line-height: 24px;
    margin-bottom: 10px;
  }
  #mu-about-us .mu-about-us-area .mu-about-us-left ul li:before {
    content: "\f24d";
    font-family: fontAwesome;
    margin-right: 10px;
  }
  #mu-about-us .mu-about-us-area .mu-about-us-right {
    display: inline;
    float: left;
    margin-top: 20px;
    padding-top: 30px;
    width: 100%;
  }
  .mu-title {
    display: inline;
    float: left;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
  .mu-title .mu-subtitle {
    font-size: 50px;
    font-family: "Goudy Bookletter 1911", sans-serif;
    line-height: 30px;
  }
  .mu-title h2 {
    color: #000;
    font-size: 35px;
    margin-bottom: 5px;
  }
  .mu-title i {
    font-size: 18px;
  }
  .mu-title .mu-title-bar {
    position: relative;
  }
  .mu-title .mu-title-bar::before {
    content: "";
    height: 2px;
    left: 8px;
    position: absolute;
    top: 10px;
    width: 100px;
  }
  .mu-title .mu-title-bar::after {
    content: "";
    height: 2px;
    right: 15px;
    position: absolute;
    top: 10px;
    width: 100px;
  }



/*==================
        Group
====================*/
#mu-grp-present {
  display: inline;
  float: left;
  width: 100%;
  padding: 100px 0;
}

#mu-grp-present .fadeIn {
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important;
}

#mu-grp-present .mu-grp-present-area {
  display: inline;
  float: left;
  width: 100%;
}
#mu-grp-present .mu-grp-present-area .member-desig {
  padding-left: 20px;
}
#mu-grp-present .mu-grp-present-area .member-name {
  padding-left: 20px;
}
#mu-grp-present .mu-grp-present-area .mu-grp-members-social{
  float: center;
  padding-left: 20px;
}

#mu-grp-present .mu-grp-present-area .mu-grp-present-left {
  display: inline;
  float: left;
  margin-top: 20px;
  padding-top: 30px;
  width: 100%;
}
#mu-grp-present .mu-grp-present-area .mu-grp-present-left img{
  float: center;
  width: auto;
  height: 300px;
  padding-left: 20px;
  padding-bottom: 20px;
}
#mu-grp-present .mu-grp-present-area .mu-grp-present-left p {
  line-height: 24px;
  padding-left: 20px;
  padding-right: 40px;
}
#mu-grp-present .mu-grp-present-area .mu-grp-present-left ul {
  margin-bottom: 20px;
  padding-left: 20px;
}
#mu-grp-present .mu-grp-present-area .mu-grp-present-left ul li {
  line-height: 24px;
  margin-bottom: 10px;
}
#mu-grp-present .mu-grp-present-area .mu-grp-present-left ul li:before {
  content: "\f24d";
  font-family: fontAwesome;
  margin-right: 10px;
}

#mu-grp-present .mu-grp-present-area .mu-grp-present-right {
  display: inline;
  float: left;
  margin-top: 20px;
  padding-top: 30px;
  width: 100%;
}
#mu-grp-present .mu-grp-present-area .mu-grp-present-right img{
  float: center;
  width: auto;
  height: 300px;
  padding-left: 20px;
  padding-bottom: 20px;
}
#mu-grp-present .mu-grp-present-area .mu-grp-present-right p {
  line-height: 24px;
  padding-left: 20px;
  padding-right: 40px;
}
#mu-grp-present .mu-grp-present-area .mu-grp-present-right ul {
  margin-bottom: 20px;
  padding-left: 20px;
}
#mu-grp-present .mu-grp-present-area .mu-grp-present-right ul li {
  line-height: 24px;
  margin-bottom: 10px;
}
#mu-grp-present .mu-grp-present-area .mu-grp-present-right ul li:before {
  content: "\f24d";
  font-family: fontAwesome;
  margin-right: 10px;
}

#mu-grp-past {
  display: inline;
  float: left;
  width: 100%;
  padding: 100px 0;
}
#mu-grp-past .fadeIn {
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important;
}
#mu-grp-past .mu-grp-past-area {
  display: inline;
  float: left;
  width: 100%;
}
#mu-grp-past .mu-grp-past-area .member-desig {
  padding-left: 20px;
}
#mu-grp-past .mu-grp-past-area .member-name {
  padding-left: 20px;
}
#mu-grp-past .mu-grp-past-area .mu-grp-members-social{
  float: center;
  padding-left: 20px;
}

#mu-grp-past .mu-grp-past-area .mu-grp-past-left {
  display: inline;
  float: left;
  margin-top: 20px;
  padding-top: 30px;
  width: 100%;
}
#mu-grp-past .mu-grp-past-area .mu-grp-past-left img{
  float: center;
  width: auto;
  height: 300px;
  padding-left: 20px;
  padding-bottom: 20px;
}
#mu-grp-past .mu-grp-past-area .mu-grp-past-left p {
  line-height: 24px;
  padding-left: 20px;
  padding-right: 40px;
}
#mu-grp-past .mu-grp-past-area .mu-grp-past-left ul {
  margin-bottom: 20px;
  padding-left: 20px;
}
#mu-grp-past .mu-grp-past-area .mu-grp-past-left ul li {
  line-height: 24px;
  margin-bottom: 10px;
}
#mu-grp-past .mu-grp-past-area .mu-grp-past-left ul li:before {
  content: "\f24d";
  font-family: fontAwesome;
  margin-right: 10px;
}

#mu-grp-past .mu-grp-past-area .mu-grp-past-right {
  display: inline;
  float: left;
  margin-top: 20px;
  padding-top: 30px;
  width: 100%;
}
#mu-grp-past .mu-grp-past-area .mu-grp-past-right img{
  float: center;
  width: auto;
  height: 300px;
  padding-left: 20px;
  padding-bottom: 20px;
}
#mu-grp-past .mu-grp-past-area .mu-grp-past-right p {
  line-height: 24px;
  padding-left: 20px;
  padding-right: 40px;
}
#mu-grp-past .mu-grp-past-area .mu-grp-past-right ul {
  margin-bottom: 20px;
  padding-left: 20px;
}
#mu-grp-past .mu-grp-past-area .mu-grp-past-right ul li {
  line-height: 24px;
  margin-bottom: 10px;
}
#mu-grp-past .mu-grp-past-area .mu-grp-past-right ul li:before {
  content: "\f24d";
  font-family: fontAwesome;
  margin-right: 10px;
}


.mu-title {
  display: inline;
  float: left;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}
.mu-title .mu-subtitle {
  font-size: 50px;
  font-family: "Goudy Bookletter 1911", cursive;
  line-height: 30px;
}
.mu-title h2 {
  color: #000;
  font-size: 35px;
  margin-bottom: 5px;
}
.mu-title i {
  font-size: 18px;
}
.mu-title .mu-title-bar {
  position: relative;
}
.mu-title .mu-title-bar::before {
  content: "";
  height: 2px;
  left: 8px;
  position: absolute;
  top: 10px;
  width: 100px;
}
.mu-title .mu-title-bar::after {
  content: "";
  height: 2px;
  right: 15px;
  position: absolute;
  top: 10px;
  width: 100px;
}


/*==================
 BLOG PAGE
====================*/
#mu-blog-banner {
  background-attachment: fixed;
  /* background-image: url("images/blog-banner.jpg"); */
  background-position: center center;
  background-size: cover;
  display: inline;
  float: left;
  width: 100%;
  position: relative;
}
#mu-blog-banner:before {
  background-color: rgba(37, 59, 61, 1);
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
}
#mu-blog-banner .mu-blog-banner-area {
  display: inline;
  float: left;
  min-height: 100px;
  padding: 12% 0;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 99;
}
#mu-blog-banner .mu-blog-banner-area h2 {
  color: #fff;
}

#mu-blog {
  background-color: #f8f8f8;
  display: inline;
  float: left;
  padding: 50px 0;
  width: 100%;
}
#mu-blog .mu-blog-area {
  display: inline;
  float: left;
  width: 100%;
}
#mu-blog .mu-blog-area .mu-blog-content {
  display: inline;
  float: left;
  width: 100%;
}

/*==================
 SOFTWARE PAGE
====================*/

#mu-software .fadeIn {
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 1;
  }
}

#mu-software .software-card{
  display: inline;
  float: left;
  width: 100%;
  padding: 50px 0px;
  margin-bottom: 5px;
}

#mu-software .software-card .card-image img{
  width: auto;
  height: 250px;
  padding-top: 50px;
}

#mu-software .software-card .software-info{
  padding: 50px 0px;
  padding-left: 80px;
}

a{
  color: #3374ff
}
.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}
/*==================
        RESEARCH
====================*/



/* *********************** */
#mu-research .fadeIn {
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 1;
  }
}

#mu-research .research-card{
  display: inline;
  float: left;
  width: 100%;
  padding: 50px 0px;
  margin-bottom: 5px;
}

#mu-research .research-card .card-image img{
  width: 100%;
  height: auto;
  padding-top: 50px;
}

#mu-research .research-card .research-info{
  padding: 50px 0px;
  padding-left: 80px;
}

a{
  color: #3374ff
}
.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

/*==================
      Publication
====================*/

#mu-publication table.gridtable {
  margin:0 auto;
  width:95%;
  overflow:auto;
  font-family: helvetica,arial,sans-serif;
  font-size:14px;
  color:#333333;
  border-width: 1px;
  border-color: #666666;
  border-collapse: collapse;
  text-align: center;
}
#mu-publication table.gridtable th {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
  background-color: #F6B4A5;
}
#mu-publication table.gridtable td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
}
#mu-publication  .badrowcount {
background-color: coral;
}
#mu-publication  .notnumeric {
background-color: yellow;
}


